body {
    font-family: "Lato", sans-serif;
}
/* :::::::::::: sidedbar :::::::::*/
.livinglogo {
    width: 170px;
    height: 70px;
    top: 0;
    left: 0;
    margin: 20px 20px 20px 20px; 
}

/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */

.main {
    margin-left: 243px;
    width: 80%;
    /* Same as the width of the sidenav */
    font-size: 18px;
    /* Increased text to enable scrolling */
    padding: 20px 20px 20px 20px;
}

/* Add an active class to the active dropdown button */

.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* ?????????? a bout ????????????*/

.main {
    margin-left: 243px;
    width: 80%;
    height: auto;
    /* Same as the width of the sidenav */
    font-size: 18px;
    /* Increased text to enable scrolling */
    padding: 30px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.about {
    padding: 10px 20px 20px 10px;
}
.about h2 {
    padding-bottom: 10px;
}
/* ----------- home slide image -------*/
.living_home .carousel-item img {
    height: 400px;
}
/* ====== footer ========*/
.footer {
    margin-left: 240px;
    width: 80%;
}
.living_footer {
    width: 20%;
    padding: 0;
    margin: 10px 0 10px 25px;
    font-size: 18px;
}
.living_footerhead {
    padding: 10px 0 10px 0;
    color: rgb(252, 127, 11);
    font-size: 20px;

}
.living_social {
    text-align: center;
    display: inline-block;
}
.living_social ul {
    list-style: none;
}
.living_social li {
    display: inline-block;
    padding: 20px 0 20px 0;
    margin: 8px;
}
.living_copy {
    margin-bottom: 50px;
}
/*======= sofa tv======*/
.living_sofa .carousel-item img {
    width: 700px;
    margin-left: 400px;
    height: 400px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Living_collection {
    width: 98%;

}





