body {
    font-family: "Lato", sans-serif;
}
/* :::::::::::: sidedbar :::::::::*/
.livinglogo {
    width: 200px;
    height: 90px;
    margin: 0; 
    /*background-color: #fff;*/
    padding: 10px;
}

/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/navo.jpg);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(124, 53, 2);
    display: block;
}

.sidenav a:hover {
    color:rgb(252, 127, 11);
}
/* ?????????? a bout ????????????*/

.main {
    margin-left: 243px;
    width: 80%;
    height: auto;
    /* Same as the width of the sidenav */
    font-size: 18px;
    /* Increased text to enable scrolling */
    padding: 30px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.about {
    padding: 10px 20px 20px 10px;
    text-align: center;
    width: 40%;
    
}
.about h2 {
    padding-bottom: 10px;
}
/* ----------- home slide image -------*/
.living_home .carousel-item img {
    height: 400px;
}
/* ====== footer ========*/
.main_footer {
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/navo.jpg);
}
hr{
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    /*border-width: 1px;*/
    border-color: black;
}
.footer {
    width: 80%;
    margin-left: 240px;
    
}
.living_footer {
    width: 20%;
    padding: 0;
    margin: 10px 0 10px 25px;
    font-size: 18px;
}
.living_footerhead {
    padding: 10px 0 10px 0;
    color: rgb(252, 127, 11);
    font-size: 20px;

}
.living_social {
    text-align: center;
    display: inline-block;   
}
.living_social ul {
    list-style: none;
    color: #8B4513;
}
.living_social li {
    display: inline-block;
    padding: 20px 0 20px 0;
    margin: 12px;
    color: #8B4513;
}
ul li a{
    color: rgb(102, 43, 1);
    font-size: 1.2em;
}
a:hover,
a:focus {
    color: rgb(252, 127, 11);
    text-decoration: none;
    outline: none;
}
a {
    color: rgb(71, 30, 1);
} 
li p {
    font-size: 0.9em; 
}
.living_copy {
    margin-bottom: 50px;
}
/*======= sofa tv======*/
.living_sofa .carousel-item img {
    width: 720px;
    margin-left: 400px;
    height: 420px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Living_collection {
    width: 98%;

}
/*     contact     */
/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0;
    margin-left: 240px;
    width: 80%;
}

/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}





